/*New css defined for Admin Panel Starts Here*/
body, td, th, tr, div ,span{
	 font:12px Arial, Verdana, Helvetica, Sans-serif;
}

a{
	color: #0033CC;
}

a:vlink{
	color:#950600;
}

a:hover{
	color:#ff9900;
}

.input{
	font:11px Arial, Helvetica, sans-serif;
	color:#333333;
	border:1px solid #dddddd;
}

/*New css defined for Admin Panel End's Here*/
.bigTitle {
	font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	font-size: 25px;
	font-weight: bold;
	color:#003468;
	text-decoration: none;
}
.myHead{font-family: Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; text-decoration:none; color:#003468;}
.myTitle{font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;font-size: 14px;font-weight: bold;color: #00000;text-decoration: none;}
.liteTitle{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; text-decoration:none; color:#a1a1a1;}
.textSmall{font-family: Arial; font-size:10px; color:#666666}
.redSmall{font-family: Arial; font-size:10px; color:#d40000}
.blackSmall{font-family: Arial; font-size:10px; color:#000000}
textarea, select {
	color : #333333;
	font-family : Verdana,Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : normal;
	border-color : #aaaaaa;
	background : #FFFFFF;
	border-bottom: #aaaaaa 2px solid;
	border-left: #aaaaaa 1px solid;
	border-right: #aaaaaa 2px solid;
	border-top: #aaaaaa 1px solid;
}
input.mainButton {
	background-color : #EAE9E1;
	font-family : "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #505050;
	cursor: hand;
}
input.liteButton {
	background-color : #f1f1f1;
	font-family : "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color : #505050;
	cursor: hand;
}
.hdash1 {
	font-family : "Trebuchet MS", arial,verdana;
	font-size : 11;
	border-bottom:1px dashed #d4d4d4;
}
.inputc {
	background-color : #fafafa;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #505050;
	border-bottom: #aaaaaa 2px solid;
	border-left: #aaaaaa 1px solid;
	border-right: #aaaaaa 2px solid;
	border-top: #aaaaaa 1px solid;
}
.textfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2E4362;
	border: 1px solid #B2984E;
}
.border {
	border: #D4D4D4 1px solid;
}
.borderAdd {
	border-right: #D4D4D4 1px solid;
	border-top: #D4D4D4 1px solid;
	border-bottom: #D4D4D4 1px solid;
}
/*+++++*/
.bottomBrdr {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	text-decoration: none;
}
.tableBordergrey {
	border: 1px solid #E2E0E2;
}
.greeen {
	font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #505050;
	text-decoration: none;
}
.moreTd {
	background-color: #E67539;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	height: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.button {
	background-color : #EAE9E1;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #505050;
	cursor: hand;
	
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.logoutTd {
	background-image: url(images/logout-bg.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	font-variant: normal;
	text-transform: capitalize;
}
.txt:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #B80508;
	text-decoration: none;
	text-transform: capitalize;
	font-variant: small-caps;
	border-top: 1px none #FF9900;
	border-right: 1px none #FF9900;
	border-bottom: 1px dotted #FF9900;
	border-left: 1px none #FF9900;
}

.tdBorder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 7px;
}
.lable{
	font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	font-size: 10px;
	font-weight: bold;
}
.title {
	font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #D46412;
	text-decoration: none;
}
.leftBordr {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: dashed;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 10px;
}
.bottomBg {
	background-image: url(images/bottom-bg.jpg);
	color: #606060;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.bottomLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4E4E4E;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
}
.bottomLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #D46412;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
}

.rtbox {
	padding: 7px;
	border: 1px none #CCCCCC;
}
.mainTd {
	background-color: #f3f3f3;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration: none;
	font-size: 11px;
	letter-spacing: 1px;
}
.manage_sheet {border-bottom:1px dashed #cccccc;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
.lightBorder {
	border: 1px solid #D5D0B3;
}
.redTxt {
	color: #FF0000;
}
.small_text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.navBarTxt {
	border: 1px solid #aaaaaa;
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
	padding:0px 4px;
}
.navBarTxt:hover {

	background-color:#666666;
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
.navBarTxt1 {
	border: 1px solid #aaaaaa;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration: bold;
	background-color: #f1f1f1;
	padding:0px 4px;
}
.navBarTxt1:hover {

	background-color:#666666;
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
.tabIndex1{
	display:block;
	margin-bottom:10px;
	padding: 3px;
	border-bottom:1px solid #dadada;
	width: 96%;
	text-align: center;
	color:#cc0000;
}
.green{
	color:#006600; text-decoration:none;
}
.red{
	color:#cc0000; text-decoration:none;
}
.newsbox{
	background:#f8f8f8; border:1px solid #cbcaca; padding:1px;
}
A.crum {
	FONT: 11px 'tahoma'; COLOR: #000000; TEXT-DECORATION: underline
}
A.crum:hover {
	COLOR: #a90108
}
.myTitle{font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;}

